@import '../abstracts/variables';

.player {
  display: flex;
  @media (max-width: 700px) {
    display: grid;
    grid-template-columns: 55px 1fr;
  }
  
  &__play-btn {
    flex-shrink: 0;
    padding: 10px;
    padding-left: 13px;
    padding-right: 7px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid $text-color;
    background-color: $main-bg-color;
    transform: scale(.8);
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }

  &__volume {
    margin-left: 15px;
    width: 85px;
  }

  &__timeline-wrapper {
    width: 100%;
  }
  
  &__timeline,
  &__volume {
    -webkit-appearance: none;
    position: relative;
    margin-top: 22px;
    margin-bottom: 8px;
    height: 6px;
    display: block;
    border-radius: 3px;
    background: $secondary-bg-color;
    cursor: pointer;
    outline: none;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 0;
      height: 0;
      background-color: $hover-state-bright-color;
      border-radius: 50%;
      cursor: pointer;
      transition: .1s;
    }
    &:active::-webkit-slider-thumb {
      width: 20px;
      height: 20px;
      background: $hover-state-bright-color;
    }
  }

  &__volume {
    background: linear-gradient(to right, $main-bright-color 0%, $main-bright-color 50%, $secondary-bg-color 50%, $secondary-bg-color 100%);
  }
  

  &__timeline {
    width: 100%;
    background: linear-gradient(to right, $main-bright-color 0%, $main-bright-color 0%, $secondary-bg-color 0%, $secondary-bg-color 100%);
  }

  &__time {
    display: flex;
    justify-content: space-between;
  }

}