@import '../abstracts/variables';

.player {
  display: flex;

  &__play-btn,
  &__volume-btn {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: $main-bg-color;
    cursor: pointer;
  }

  &__play-btn {
    margin-right: 15px;
  }

  &__volume-btn {
    margin-left: 15px;
  }

  &__volume {
    margin-left: 15px;
    width: 85px;
  }

  &__timeline-wrapper {
    width: 100%;
  }
  
  &__timeline,
  &__volume {
    margin-top: 22px;
    margin-bottom: 8px;
    -webkit-appearance: none;
    height: 6px;
    display: block;
    border-radius: 3px;
    // background: $secondary-bg-color;
    background: $hover-state-bright-color;
    cursor: pointer;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      background-color: $hover-state-bright-color;
      border-radius: 50%;
      cursor: pointer;
      transition: .2s;
    }
    &:active::-webkit-slider-thumb {
      width: 20px;
      height: 20px;
      background: $hover-state-bright-color;
    }
  }

  &__timeline {
    width: 100%;
  }

  &__time {
    display: flex;
    justify-content: space-between;
  }

}