.car-controller {
  border-bottom: 2px dashed $yellow-color;
  margin-bottom: 25px;

  &__edit-btns-wrapper {
    margin-bottom: 10px;
  }

  &__race-btns-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    margin-right: 20px;
    margin-bottom: 5px;
  }

  &__edit-btn,
  &__delete-btn {
    margin-right: 10px;
  }

  &__race-track {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__finish {
    width: 140px;
    height: 75px;
  }

  &__finish-flag {
    display: inline-block;
    width: 5px;
    height: 75px;
    background-color: #fff;
  }
}