body {
  background-color: $dark-color;
}

.container {
  width: calc(100vw - 40px);
  max-width: 1200px;
  margin: 0 auto;
  color: $yellow-color;
  font-family: 'Press Start 2P', cursive;

  &_main {
    padding-top: 25px;
  }
}