@import '../components/buttons';

.start-page {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: $text-color;
  &__header {
    margin: 0 auto 1rem;
    text-align: center;
    font-size: 72px;
  }
  &__subheader {
    margin: 0 auto 2rem;
    width: 50%;
    text-align: center;
  }
}

.container_start {
  flex: 10;
  flex-shrink: 1
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}