html {
  height: 100%;
  background: linear-gradient(#FCF8E8, #FCF8E8) center center/cover no-repeat;
  color: #DF7861;
  user-select: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 420px;
  text-align: center;
}

.header {
}

.field {
  position: relative;
  width: 100%;
  max-width: 420px;
  height: 420px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 10px solid #DF7861;
  background-color: #FCF8E8;
}

.piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 25%;
  border: 1px solid #DF7861;
  background-color: #94B49F;
  color: #DF7861;
  cursor: pointer;
  transition: .3s all;
  font-size: 32px;
  &:last-child {
    display: none;
  }
}

.button {
  width: 50%;
  height: 35px;
  padding-top: 4px;
  margin-bottom: 30px;
  border: none;
  cursor: pointer;
  background-color: #94B49F;
  color: #FCF8E8;
}

.size-wrapper, .stats-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 30px;
  font-size: 20px;
}

.size {
  cursor: pointer;
  input {
    // appearance: none;
    &:checked {
      color: #FA7070;
    }
  }
}