html {
  height: 100%;
  background: #F8F5F1;
  color: #343F56;
  user-select: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

svg {
  width: 30px;
  height: 30px;
}

.container {
  margin: 0 auto;
  max-width: 414px;
  text-align: center;
  @media (max-width: 420px) {
    max-width: 320px;
  }
}

.field {
  position: relative;
  width: 100%;
  max-width: 414px;
  height: 414px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 7px solid #343F56;
  background-color: #F8F5F1;
  @media (max-width: 420px) {
    max-width: 320px;
    height: 320px;
  }
}

.piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 25%;
  border: 1px solid #F8F5F1;
  background-color: #387C6D;
  color: #F8F5F1;
  cursor: pointer;
  transition: .3s all;
  font-size: 32px;
  &:last-child {
    display: none;
  }
  @media (max-width: 420px) {
    font-size: 24px;
  }
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button {
  width: 30%;
  height: 35px;
  padding-top: 4px;
  border: none;
  cursor: pointer;
  background-color: #E9896A;
  color: #F8F5F1;
  &:hover {
    background-color: #387C6D;
  }
}

.sound-button {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  &:hover {
    background-color: #F8F5F1;
  }
}

.shuffle {
  width: 50%;
  height: 40px;
}

.size-wrapper, .stats-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px;
  font-size: 20px;
}

.size {
  cursor: pointer;
  &:hover {
    color: #FA7070;
  }
  &_checked {
    color: #FA7070;
  }
  input {
    appearance: none;
    &:checked {
      ~ .size {
        color: #FA7070;
      }
    }
  }
}

.results {
  display: none;
  position: absolute;
  width: 410px;
  height: 410px;
  padding: 20px;
  margin: 0 auto;
  background-color: #343f56de;
  color: #F8F5F1;
  z-index: 1000;
  @media (max-width: 420px) {
    max-width: 320px;
    height: 320px;
  }
  &_active {
    display: block;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #F8F5F1;
  }
  &__values {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

.congratulation {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 35%;
  color: #F8F5F1;
  background-color: #343f56b2;
  font-size: 36px;
  z-index: 10;
}