html {
  height: 100%;
  background: linear-gradient(#A1C298, #C6EBC5) center center/cover no-repeat;
  user-select: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 420px;
  text-align: center;
}

.header {
  color: #FA7070;
}

.field {
  position: relative;
  width: 420px;
  height: 420px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 10px solid #FA7070;
  background-color: #FBF2CF;
}

.piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 25%;
  border: 1px solid #A1C298;
  background-color: #C6EBC5;
  color: #FA7070;
  cursor: pointer;
  transition: .3s all;
  font-size: 32px;
  &:last-child {
    display: none;
  }
}

.button {
  width: 50%;
  height: 35px;
  padding-top: 4px;
  border: none;
  cursor: pointer;
  background-color: #FA7070;
  color: #FBF2CF;
}

.size-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.size {
  cursor: pointer;
  input {
    // appearance: none;
    &:checked {
      color: #FA7070;
    }
  }
}