@use '../abstracts/variables' as *;

.backstage {
  padding: 140px 0 80px;
  position: relative;
  background-color: #fff;
  color: $black-blue-color;
  @media screen and (max-width: 640px) {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  @media screen and (max-width: 390px) {
    padding-top: 104px;
    padding-bottom: 0;
  }
  &__description {
    width: 465px;
    @media screen and (max-width: 1000px) {
      width: 48.4%;
    }
    @media screen and (max-width: 640px) {
      width: 495px;
    }
  }
  &__header {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    @media screen and (min-width: 640px) and (max-width: 980px) {
      margin-bottom: 10px;
      font-size: 32px;
    }
    @media screen and (max-width: 390px) {
      margin-bottom: 10px;
      font-size: 24px;
    }
  }
  &__subheader {
    margin-top: 54px;
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    @media screen and (min-width: 640px) and (max-width: 980px) {
      margin-bottom: 20px;
      margin-top: 30px;
    }
    @media screen and (max-width: 390px) {
      margin-bottom: 10px;
      margin-top: 0;
      font-size: 24px;
    }
  }
  &__photo {
    height: 403px;
    width: 52.5%;
    margin-right: 31px;
    background: url("../../assets/images/bamboo-cap.jpg") center center/cover no-repeat;
    @media screen and (max-width: 1000px) {
      width: 48.4%;
    }
    @media screen and (max-width: 640px) {
      display: none;
    }
  }

  p {
    line-height: 140%;
    margin: 0px;
    @media screen and (max-width: 390px) {
      margin-bottom: 20px;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
  }
  &::before {
    content: '';
    width: 203px;
    height: 605px;
    position: absolute;
    right: 0;
    top: 15px;
    background: url('../../assets/images/flower_foto1.jpg');
    @media screen and (max-width: 1598px) {
      width: calc(203px - (1598px - 100%));
    }
    @media screen and (max-width: 1000px) {
      display: none;
    }
    @media screen and (max-width: 640px) {
      display: block;
      right: 0;
      top: -60px;
      width: calc(150px - (640px - 100%));
      transform: scale(0.79);
    }
    @media screen and (max-width: 390px) {
      right: -27px;
      top: -155px;
      width: 85px;
      transform: scale(0.37);
    }
  }
}