@use '../abstracts/variables' as *;
@use '../components/buttons' as *;
@use '../components/pet-card' as *;

.pets {
  position: relative;
  &__slider {
    display: flex;
    justify-content: space-between;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -12px;
  }

  .container {
    padding: 94px 0 140px;
  }
  .button {
    display: block;
    margin: 0 auto;
  }
  .arrow-button {
    position: absolute;
  }
  .prev {
    left: -82px;
    top: 496px;
    @media screen and (max-width: 1000px) {
      left: 322px;
      top: 466px;
    }
  }
  .next {
    right: -82px;
    top: 496px;
    @media screen and (max-width: 1000px) {
      right: 322px;
      top: 466px;
    }
  }
  &::after {
    content: '';
    width: 292px;
    height: 460px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url('../../assets/images/palm_foto.png') right center/cover no-repeat;
    @media screen and (max-width: 1000px) {
      width: 192px;
      height: 202px;
    }
  }
  &::before {
    content: '';
    width: 368px;
    height: 275px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url('../../assets/images/strelitzia1.jpg') center center/cover no-repeat;
    @media screen and (max-width: 1000px) {
      width: 241px;
      height: 180px;
    }
  }
}