@use '../abstracts/variables' as *;
@use '../components/buttons' as *;

.watch {
  margin: -80px auto 0;
  height: 780px;
  background: url("../../assets/images/Giant_Panda.jpg") center center/cover no-repeat;
  @media screen and (max-width: 1000px) {
    height: 584px;
  }
  &__header {
    position: relative;
    right: 0;
    top: -90px;
    left: calc(50% - 500.31px/2 + 330.15px);
    width: 500px;
    font-weight: 700;
    font-size: 107px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 1;
    @media screen and (max-width: 1000px) {
      font-size: 85px;
      top: -115px;
      left: calc(50% - 500.31px/2 + 210.15px);
    }
    span {
      color: $yellow-color;
    }
    &::before {
      content: '';
      position: absolute;
      top: -74px;
      right: 108px;
      display: block;
      width: 465px;
      height: 465px;
      border-radius: 50%;
      background: $default-state-gradient;
      z-index: -1;
      @media screen and (max-width: 1000px) {
        top: -56px;
        right: 130px;
        width: 367px;
        height: 367px;
      }
    }
  }
  .container {
    height: 780px;
    padding-top: 166px;
    @media screen and (max-width: 1000px) {
      height: 584px;
    }
  }
  .button {
    display: block;
    margin-top: -143px;
    margin-left: calc(50% - 298px/2 + 214px);
  }
}

.watch-donate {
  height: 466px;
  background-position: 0 -120px;
}