$main-bg-color: rgb(64, 61, 58);
$secondary-bg-color: rgb(103, 100, 97);
$hover-state-bg-color: rgb(99, 95, 92);

$main-bright-color: rgb(215, 127, 32);
$hover-state-bright-color: rgb(205, 86, 36);

$correct-state-color: rgb(0, 255, 13);
$wrong-state-color: rgb(255, 77, 0);

$text-color: #fff6ee;
$shadow-color: rgba(17, 13, 11, 0.521);
