$main-bg-color: rgba(60, 60, 60);
$secondary-bg-color: rgb(99, 99, 99);
$hover-state-bg-color: rgb(92, 92, 92);

$main-bright-color: rgb(215, 127, 32);
$hover-state-bright-color: rgb(205, 86, 36);

$correct-state-color: rgb(0, 255, 13);
$wrong-state-color: rgb(255, 77, 0);

$text-color: azure;
