$main-bg-color: rgba(60, 60, 60, 0.95);
$secondary-bg-color: rgb(99, 99, 99);
$hover-state-bg-color: rgb(92, 92, 92);

$main-bright-color: rgb(232, 111, 31);
$hover-state-bright-color: rgb(255, 123, 34);

$correct-state-color: rgb(0, 255, 13);
$wrong-state-color: rgb(255, 77, 0);

$text-color: azure;
