@use '../abstracts/variables' as *;

.button {
  background: $default-state-gradient;
  text-transform: uppercase;
  color: #fff;
  border: 0px;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background: $hover-state-color;
  }
}

.section-button {
  width: 298px;
  height: 54px;
  border-radius: 25px;
}

.section-rectangular-button {
  width: 298px;
  height: 54px;
}

.arrow-button {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}