@import 'base/normalize.css';
@import 'base/fonts';
@import 'abstracts/variables';

@import 'pages/start';
@import 'pages/quiz';
@import 'pages/results';

@import 'layout/header';
@import 'layout/footer';

.container {
  padding: 10px;
}

html {
  background-color: black;
}

.bg-video {
  opacity: .5;
}