.management {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25px;

  &__create-form,
  &__update-form {
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: 10px;
    background-color: $blue-color;
  }

  &__create-input,
  &__update-input {
    width: 200px;
    height: 25px;
  }

  &__create-color,
  &__update-color {
    height: 30px;
  }
}

.control-panel {
  width: 500px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}