.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  border-radius: 8px;
  cursor: pointer;
}

.nav {
  width: 30%;
}

.menu {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  &__link {
    color: $text-color;
    font-size: 20px;
    text-decoration: none;
    transition: .2s all;
    &:hover {
      color: $hover-state-bright-color;
    }
    &_active {
      color: $hover-state-bright-color;
    }
  }
}